@{

    Layout = null;

}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>登录</title>
    <meta name="keywords" content="登录页" />
    <meta name="description" content="登录页" />
    <link href="~/Areas/Admin/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/login.css" rel="stylesheet" />
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/lib/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>
</head>

<body class="login-bg">
    <div class="main ">
        <!--登录-->
        <div class="login-dom login-max">
            <div class="logo text-center">
                <a href="#">
                    <img src="~/Areas/Admin/Content/img/logo.png" width="180px" height="180px">
                </a>
            </div>
            <div class="login container " id="login">
                <p class="text-big text-center logo-color">
                    互 动 后 台
                </p>
                <form class="login-form">
                    <div class="login-box border text-small" id="box">
                        <div class="name border-bottom">
                            <input type="text" placeholder="请输入账号" name="login" />
                        </div>
                        <div class="pwd">
                            <input type="password" placeholder="请输入密码" name="pwd" />
                        </div>
                    </div>
                    <input type="button" id="login-btn" class="btn text-center login-btn" value="立即登录">
                </form>

            </div>
        </div>

    </div>
    <script>
        (function () {

            var login = {
                loginBtn: $('#login-btn'),
                loginTxt: $('input[name=login]'),
                pwdTxt: $('input[name=pwd]'),
                event: function () {
                    var _self = this;
                    _self.loginBtn.click(function () {

                        var login = _self.loginTxt.val();
                        var pwd = _self.pwdTxt.val();
                        var index = layer.load(0, {
                            shade: [0.5, '#fff'] //0.1透明度的白色背景
                        });
                        $.post('/admin/home/tologin', { login, pwd }, function (data) {
                            if (data.Status) {
                                window.location.href = "/Admin/Activity/Activities";
                            } else {
                                layer.close(index);
                               layer.msg(data.Notify, {icon: 5});
                            }
                        });

                    });
                },
                init: function () {
                    var _self = this;
                    _self.event();
                }

            };
            login.init();
        })()
    </script>
</body>
</html>