@{

    Layout = null;

}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>登录</title>
    <meta name="keywords" content="登录页" />
    <meta name="description" content="登录页" />
    <link href="~/Areas/Admin/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/login.css" rel="stylesheet" />
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
</head>

<body class="login-bg">
    <div class="main ">
        <!--登录-->
        <div class="login-dom login-max">
            <div class="logo text-center">
                <a href="#">
                    <img src="~/Areas/Admin/Content/img/logo.png" width="180px" height="180px">
                </a>
            </div>
            <div class="login container " id="login">
                <p class="text-big text-center logo-color">
                    互 动 后 台
                </p>
               
                <form class="login-form" action="index.html" method="post" autocomplete="off">
                    <div class="login-box border text-small" id="box">
                        <div class="name border-bottom">
                            <input type="text" placeholder="请输入账号" id="username" name="username" />
                        </div>
                        <div class="pwd">
                            <input type="password" placeholder="请输入密码" datatype="*" id="password" name="password" />
                        </div>
                    </div>
                    <input type="hidden" name="formhash" value="5abb5d21" />
                    <input type="button"  id="login-btn" class="btn text-center login-btn" value="立即登录">
                </form>
               
            </div>
        </div>
      
    </div>
    <script>
        (function () {

            var login = {
                loginBtn: $('#login-btn'),
                event: function () {
                    var _self = this;
                    _self.loginBtn.click(function () {
                        window.location.href = "/Admin/Activity/Activities";
                    });
                },
                init: function () {
                    var _self = this;
                    _self.event();
                }

            };
            login.init();
        })()
    </script>
</body>
</html>