<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet" />

</head>
<body>
    @RenderBody();
</body>
@RenderSection("scripts", false)
</html>