<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/art-template-master/template-web.js"></script>
    <link href="~/Content/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet" />
    <style>
        .container {
            position: fixed;
            background-image: url('../../Content/webappp/img/bg/bg-luckydraw.jpg');
            background-size: 100% 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
        }

        .screen-footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding: 0px 230px 10px 230px;
        }

        .screen-func {
            float: right;
            position: relative;
        }

            .screen-func > div[class^=screen-func] {
                float: left;
                text-align: center;
                width: 80px;
            }

            .screen-func > [class^=screen-func]:hover {
                background-color: rgba(0, 0, 0, 0.75);
                box-shadow: 0 3px 10px rgba(0,0,0,.3);
                border-radius: 5px;
                cursor: pointer;
            }

            .screen-func > div > img {
                display: block;
                margin: 0 auto;
            }

            .screen-func > div > span {
                display: block;
                color: #ffffff;
            }

        .apply-list {
            display: none;
            position: absolute;
            width: 300px;
            bottom: 80px;
            left: 55px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0,0,0,.3);
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 1000;
        }

            .apply-list:after {
                content: "";
                /* visibility: hidden; */
                position: absolute;
                bottom: -14px;
                left: 160px;
                margin-left: -6px;
                display: inline-block;
                width: 0;
                height: 0;
                font-size: 0;
                border: 6px dashed transparent;
                border-top: 6px solid #fff;
            }

            .apply-list > i {
                cursor: pointer;
                position: absolute;
                display: block;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                top: -8px;
                right: -8px;
                background-color: #FFF;
                /* text-indent: 3px; */
                padding: 4px 5px;
            }

            .apply-list > ul > li {
                float: left;
                padding: 5px;
                color: #ffffff;
                text-align: center;
            }

                .apply-list > ul > li > a > img {
                    display: block;
                }

                .apply-list > ul > li > span {
                    display: block;
                }

        .skin-group > div {
            position: relative;
            width: 25%;
            float: left;
            padding: 5px;
        }

            .skin-group > div:hover {
                cursor: pointer;
            }

            .skin-group > div > img {
                display: block;
                width: 100%;
            }

        .select-it {
            display: none;
            background-image: url(../../Content/webappp/img/icon/icon-select.png);
            position: absolute;
            width: 32px;
            height: 32px;
            top: -7px;
            right: -3px;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
        <div class="screen-footer clearfix">
            <div class="screen-func clearfix">
                <div class="screen-func-ewm">
                    <img src="~/Content/webappp/img/icon/icon-ewm.png" />
                    <span>二维码</span>
                </div>
                <div class="screen-func-skin" data-toggle="modal" data-target="#skin-modal" id="skin-btn">
                    <img src="~/Content/webappp/img/icon/icon-skin.png" />
                    <span>皮肤</span>
                </div>
                <div class="screen-func-apply" id="apply-btn">
                    <img src="~/Content/webappp/img/icon/icon-apply.png" />
                    <span>应用</span>
                </div>
                <div class="apply-list" id="apply-modal">
                    <i id="close-apply-btn"><span class="glyphicon glyphicon-remove"></span></i>
                    <ul class="list-unstyled clearfix">
                        <li>
                            <a href="#">
                                <img src="~/Content/webappp/img/bg/bg-lucky-draw.png" />
                            </a>
                            <span>抽奖</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Content/webappp/img/bg/bg-lucky-draw.png" />
                            </a>
                            <span>抽奖</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--skin-modal-->
    <div class="modal fade" id="skin-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">皮肤选择</h4>
                </div>
                <div class="modal-body">
                    <div class=" skin-group clearfix">
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                        <div class="skin-opt">
                            <i class="select-it"></i>
                            <img src="~/Content/webappp/img/yuantiao.jpg" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="definite-select-skin">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
        (function () {

            var luckydraw = {
                skinModal: $('#skin-modal'),
                skinBtn: $('#skin-btn'),
                applyBtn: $('#apply-btn'),
                closeApplyBtn: $('#close-apply-btn'),
                applyModal: $('#apply-modal'),
                definiteSelectSkin: $('#definite-select-skin'),
                skinGroup: $('.skin-group'),
                event: function () {
                    var _self = this;
                    //打开应用列表
                    _self.applyBtn.click(function () {
                        if (_self.applyModal.is(":hidden")) {
                            _self.applyModal.show('bounceInDown');
                        } else {
                            _self.applyModal.hide();
                        }
                    });
                    //关闭应用列表
                    _self.closeApplyBtn.click(function () {
                        _self.applyModal.hide();
                    });
                    //展示皮肤列表
                    _self.definiteSelectSkin.click(function () {
                        _self.skinModal.modal('hide');
                    });
                    //点选皮肤
                    _self.skinGroup.children('.skin-opt').click(function () {
                        $(this).siblings('.skin-opt').find('.select-it').hide();
                        $(this).find('.select-it').show();
                    });
                },
                init: function () {
                    var _self = this;
                    _self.event();
                }
            };
            luckydraw.init();  //初始化

        })()
    </script>
    @RenderSection("scripts", false)
</body>
</html>