@{
    Layout = "~/Areas/Admin/Views/Shared/_LayputForPCManage.cshtml";
    ViewBag.Title = "活动操作";
}
<div class="activity-container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <div class="panel panel-default" style="margin:0 20px 10px 20px">
        <div class="panel-heading">活动详情</div>
        <div class="panel-body" style="padding:20px">
            <div class="form-group">
                <label>活动名称:</label>
                <input type="text" name="ActivityName" class="form-control" />
            </div>
            <div class="form-group">
                <label>活动限制:</label>
                <input type="number" name="LimitNumber" class="form-control" />
            </div>
        </div>
       
    </div>
</div>
@section scripts{
    <link href="~/Content/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Content/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
        (function () {
            var activityOperator = {

                event: function () {

                },
                init: function () {
                    var _self = this;
                
                    _self.event();
                }
            };
            activityOperator.init();
        })()

    </script>
}
