
@{
    Layout = "~/Views/Shared/_LayoutForPC.cshtml";
    ViewBag.Title = "抽奖";
}
 <style>
   

    .screen-body {
        position: absolute;
        top: 17%;
        height: 72%;
        width: 96%;
        left: 50%;
        margin-left: -45%;
    }

    .screen-body-left {
        background-color: rgba(53, 44, 87, 0.7);
        height: 100%;
        margin-right: 1%;
    }

    .screen-body-right {
        background-color: rgba(53, 44, 87, 0.7);
        height: 100%;
        padding: 0px;
    }

    .luckydraw-title {
        width: 100%;
        height: 60px;
        position: relative;
        color: #fff;
        font-size: 35px;
        line-height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

        .luckydraw-title > pan:first-child {
            margin-left: 50px;
        }

        .luckydraw-title > pan:last-child {
            right: 10px;
            text-align: right;
        }

    .luckydraw-body {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        margin: -150px auto auto -150px;
    }

        .luckydraw-body > .user {
            position: relative;
            width: 200px;
            height: 200px;
            background-size: contain;
            background-image: url('../../Content/webappp/img/bg/bg-nouser.jpg');
            margin: 15px auto;
            overflow: visible;
            border: 1px solid #fff;
            border-radius: 8px;
            box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.11);
        }

            .luckydraw-body > .user > .nick-name {
                position: absolute;
                width: 200%;
                height: 30px;
                line-height: 20px;
                left: -50%;
                bottom: -34px;
                font-size: 18px;
                color: #fff;
                text-align: center;
                display: block;
                text-shadow: 0 1px 3px rgba(0,0,0,0.45);
            }

        .luckydraw-body > .start-btn {
            position: absolute;
            left: 52%;
            margin-left: -60px;
            bottom: 10px;
            width: 100px;
            text-align: center;
            padding: 8px 10px 12px 10px;
            background-color: #fff;
            border-radius: 8px;
            font-weight: bolder;
            cursor: pointer;
            color: #E74145;
            box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 -3px 0px 0px #D0D0D0 inset;
        }

    .luckydraw-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        right: 0%;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

        .luckydraw-footer > div {
            height: 100%;
        }

    .choice-group {
        height: 100%;
        line-height: 59px;
    }

    .luckydraw-footer > div:last-child {
        line-height: 60px;
        margin-right: 5px;
    }

    .luckydraw-footer > div:last-child {
        position: absolute;
        right: 10px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        line-height: 40px;
        width: 105px;
        text-align: center;
        font-size: 20px;
        padding: 0 10px;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }

        .luckydraw-footer > div:last-child:hover {
        }

    .menu-list {
        width: 100%;
        height: 93%;
        position: relative;
        float: left;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 3px;
    }

        .menu-list > .menu-opt {
            position: relative;
            width: 100%;
            height: 70px;
            line-height: 70px;
            margin: 3px auto;
            background: rgba(255, 255, 255,0.15);
            overflow: hidden;
        }

            .menu-list > .menu-opt > .user-no {
                width: 30px;
                height: 30px;
                color: #E62841;
                position: relative;
                top: 20px;
                text-align: center;
                margin-left: 10px;
                font-size: 16px;
                line-height: 30px;
                background-color: #FFF;
                border-radius: 100%;
            }

            .menu-list > .menu-opt > .user-pic {
                position: absolute;
                display: inline-block;
                width: 60px;
                height: 60px;
                background: url('../../Content/webappp/img/yuantiao.jpg') center no-repeat;
                background-size: contain;
                top: 6px;
                left: 50px;
                border-radius: 100%;
            }

            .menu-list > .menu-opt > .user-nick {
                position: absolute;
                height: 60px;
                width: 500%;
                top: 6px;
                left: 131px;
                overflow: visible;
                font-size: 20px;
                line-height: 60px;
                text-align: left;
                display: block;
                color: #fff;
                text-shadow: 0 1px 3px rgba(0,0,0,0.45);
            }

    .afresh-choice {
        width: 100%;
        height: 50px;
        position: absolute;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-top: 0px;
        padding: 3px;
        bottom: 0px;
        overflow: auto;
    }

    .afresh-choice-btn {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        bottom: 4px;
        width: 100px;
        text-align: center;
        padding: 8px 10px 12px 10px;
        background-color: #fff;
        border-radius: 8px;
        font-weight: bolder;
        cursor: pointer;
        color: #E74145;
        box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 -3px 0px 0px #D0D0D0 inset;
    }

   
</style>

    <div class="row screen-body">
        <div class="col-md-7 screen-body-left">
            <div class="luckydraw-title clearfix">
                <span class="pull-left">抽奖</span>
                <span class="pull-right">1000000人</span>
            </div>
            <div class="luckydraw-body">
                <div class="user">
                    <span class="nick-name"></span>
                </div>
                <div class="start-btn">
                    开始抽奖
                </div>
            </div>
            <div class="luckydraw-footer clearfix">
                <div class="pull-left">
                    <div class="form-inline choice-group">
                        <div class="form-group">
                            <label class="label">请选择奖项:</label>
                            <select class="form-control">
                                <option value="-1">--请选择奖项--</option>
                                <option value="0">一等奖</option>
                                <option value="1">二等奖</option>
                                <option value="2">三等奖</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label">选择人数:</label>
                            <select class="form-control">
                                <option value="-1">--请选择中奖人数--</option>
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    重新加载
                </div>
            </div>
        </div>
        <div class="col-md-4  screen-body-right">
            <div class="menu-list">
                <div class="menu-opt">
                    <div class="user-no">5</div>
                    <div class="user-pic"></div>
                    <div class="user-nick">lsh</div>
                </div>
                <div class="menu-opt">
                    <div class="user-no">5</div>
                    <div class="user-pic"></div>
                    <div class="user-nick">lsh</div>
                </div>
                <div class="menu-opt">
                    <div class="user-no">5</div>
                    <div class="user-pic"></div>
                    <div class="user-nick">lsh</div>
                </div>
                <div class="menu-opt">
                    <div class="user-no">5</div>
                    <div class="user-pic"></div>
                    <div class="user-nick">lsh</div>
                </div>
                <div class="menu-opt">
                    <div class="user-no">5</div>
                    <div class="user-pic"></div>
                    <div class="user-nick">lsh</div>
                </div>
            </div>
            <div class="afresh-choice">
                <div class="afresh-choice-btn">
                    重新抽奖
                </div>
            </div>
        </div>
    </div>
@section scripts{
  
}
