
@{
    Layout = "~/Views/Shared/_LayoutScreenForPC.cshtml";
    ViewBag.Title = "签到";
}

<style>
    .sigin-screen-body {
        position: relative;
         overflow: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        height: 80%;
        width: 90%;
        margin: 5% auto 0% auto;
        
    }
    .user-info-group{
     height: 100%;
     width:104%;
    overflow-y: auto;
    overflow-x: hidden;
    }
    .user-info-group > li {
        
        float: left;
        width: 144px;
        height: 144px;
        text-align: center;
        position: relative;
        padding: 15px 0;
       
    }

        .user-info-group > li > img {
            width: 108px;
            height: 108px;
            margin: 0 auto;
            border-radius: 100%;
            overflow: hidden;
        }

        .user-info-group > li > .user-sort {
            position: absolute;
            font-size: 16px;
            top: 105px;
            left: 50%;
            background-color: rgba(255,255,255,1);
            color: #000;
            padding: 0;
            border-radius: 100px;
            width: 60px;
            margin: 0;
            margin-left: -30px;
            /* box-shadow: 0px 1px 5px rgba(0,0,0,0.44); */
        }

        .user-info-group > li > .user-nick {
            font-size: 20px;
            color: #FFF;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0 auto;
            padding: 10px 0;
            -webkit-animation: mc 1.2s 2s ease forwards;
            -moz-animation: 2s 2s ease forwards;
            display: block;
        }
</style>
<div class="sigin-screen-body">
    <ul class="list-unstyled user-info-group clearfix">
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="~/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
        <li>
            <img src="/Content/webappp/img/yuantiao.jpg" />
            <p class="user-sort">111</p>
            <p class="user-nick">lsh</p>
        </li>
    </ul>
</div>
<script id="user-info-tmpl" type="text/html">
    <li class="animated fadeInDown">
        <img src="/Content/webappp/img/yuantiao.jpg" />
        <p class="user-sort">{{sort}}</p>
        <p class="user-nick">{{nickname}}</p>
    </li>
</script>
@section scripts{
    <script>
        (function () {
            var signinscreen = {
                userInfoGroup:$('.user-info-group'),
                userInfoTmpl:'user-info-tmpl',
                buildUserInfoBlock: function () {
                    var _self = this;
                    var html = template(_self.userInfoTmpl, {nickname:"lsh",sort:21}); 
                        _self.userInfoGroup.append(html);
                },
                test: function () {
                    var _self = this;
                    setInterval(function () {
                        _self.buildUserInfoBlock();
                    }, 2000);
                },
                init: function () {
                    var _self = this;
                    _self.test()
                }
            }
            signinscreen.init();
        })()    
    </script>
    
    
}

