
@{
    Layout = "~/Views/Shared/_LayoutScreenForPC.cshtml";
    ViewBag.Title = "签到";
}

<style>
    .sigin-screen-body {
        background-color: rgba(0, 0, 0, 0.3);
        height: 80%;
        width: 95%;
        margin: 5% auto 0% auto;
        overflow: auto;
        position: relative;
      
    }
</style>
<div class="sigin-screen-body">

</div>

