

@{
    Layout = "~/Areas/Home/Views/Shared/_LayoutScreenForPC.cshtml";
    ViewBag.Title = "签到";
}

<div class="sigin-screen-body">
    <ul class="list-unstyled user-info-group clearfix"></ul>
</div>
<div class="signin-dialog animated bounceInLeft" id="signin-card">
    <div class="brilliancy">
        <img src="/Areas/Home/Content/img/bg/bg-flash-light.png" />
    </div>
    <div class="user-card">
        <img src="/Areas/Home/Content/img/yuantiao.jpg" />
        <p class="user-card-sort">111</p>
        <p class="user-card-nick">lsh</p>
    </div>
</div>
<script id="user-info-tmpl" type="text/html">
    <li class="animated heartBeat">
        <img src="/Areas/Home/Content/img/yuantiao.jpg" />
        <p class="user-sort">{{sort}}</p>
        <p class="user-nick">{{nickname}}</p>
    </li>
</script>
@section scripts{
    <link href="~/Areas/Home/Content/css/signin-screen.css" rel="stylesheet" />
    <script src="~/Areas/Home/Content/js/signin-screen.js"></script>
}

