
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/lib/mui-master/js/mui.min.js"></script>
    <link href="~/Content/lib/mui-master/css/mui.min.css" rel="stylesheet" />
    <style>
        .login-form {
            /* width: 200px; */
            width: 500px;
            /* padding: 331px; */
            margin: 182px auto 0px auto;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 5px;
        }

            .login-form > div:first-child {
                text-align: center;
                margin-bottom: 15px;
                font-size: 22px;
            }
    </style>
</head>
<body>

    <div class="login-form">
        <div>登录</div>
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label>用户名</label>
                <input type="text" class="mui-input-clear" placeholder="请输入用户名">
            </div>
            <div class="mui-input-row">
                <label>密码</label>
                <input type="password" class="mui-input-password" placeholder="请输入密码">
            </div>
            <div class="mui-button-row">
                <button type="button" class="mui-btn mui-btn-primary">确认</button>
                <button type="button" class="mui-btn mui-btn-danger">取消</button>
            </div>
        </form>
    </div>
    <script>
        (function () {


        })()
    </script>

</body>
</html>
