
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/lib/signalr/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div id="txt">
    </div>

    <button id="send">send</button>
    <script type="text/javascript">
        $(function () {
            //1.获取连接
            var chat = $.connection.screenHub;
            //2.监听接口
            chat.client.hello = function (msg) {
                $('#txt').append(msg+"<br/>");
            };
            //3.开启监听
            $.connection.hub.start().done(function (){

            });
            //3.调用后台发广播的接口
            $('#send').click(function () {
                $.post("/TestSignalr/Msg", {msg:"lsh"}, function (data) {

                });
            });

        });
    </script>
</body>
</html>
